html {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(#3d4afd, #ffffff);
  background-repeat: no-repeat;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  width: 100%;
  height: 250px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

.search-form {
  display: flex;
  justify-content: center;

  padding-top: 20px;
  padding-bottom: 20px;

  border-bottom: 1px solid rgba(27, 255, 244, 0.651);
  background-color: rgba(0, 0, 0, 0.096);

  :focus {
    outline: none;
  }

  .input-serch {
    padding-left: 30px;
    width: 500px;
    height: 40px;

    color: #ffffff;
    // background-color: transparent;
    background-color: rgba(129, 129, 129, 0.089);
    border-radius: 5px;
    border: 1px solid rgba(27, 255, 244, 0.651);
  }
  .input-serch::placeholder {
    color: #ffffff;
  }

  .button-submit {
    position: relative;
    left: -500px;
    font-size: 20px;
    background-color: transparent;
    border: none;
  }
}

.gallery-container {
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -15px;

  .item-gallery {
    margin-top: 15px;
    margin-left: 15px;
    width: calc((100% / 4) - 15px);

    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }
  // .item-gallery:hover {
  //   transform: scale(0, 1);
  // }

  .stats {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;

    font-weight: bold;
    color: rgb(0, 0, 0);
    background: linear-gradient(#bdbdbd, #ffffff);
  }
}
.back_to_top {
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: rgba(27, 255, 244, 0.651);
  background: rgba(91, 46, 255, 0.87);
  border: 1px solid rgba(27, 255, 244, 0.651);
  cursor: pointer;
  border-radius: 10px;
  display: none;
}

.back_to_top:hover {
  color: rgba(91, 46, 255, 0.87);
  background: rgba(27, 255, 244, 0.651);
  border-color: rgba(91, 46, 255, 0.87);
}

.back_to_top-show {
  display: block;
}
